$main-color: green;
$main-text-color: #fff;

body {
  overflow: visible;
}

.notice,
.alert {
  display: none;
}

.signupPage {
  .header {
    padding: 20px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }
  .userProfileImg {
    position: relative;
    margin: 0 auto 10px auto;
    width: 100px;
    height: 100px;
    background: rgb(0, 128, 28);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover .userProfileImg_description {
      opacity: 1;
    }
    &_description {
      transition: opacity .5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(5, 5, 5, .5);
      color: #fff;
    }
    .fa-camera {
      color: #fff;
    }
    &>input {
      display: none;
    }
}
}

