.signinPage {
    margin-top: 10vh;
    .title {
      color:green;
      margin: 20px 0;
      text-align: center;
    }
    .loginBtn {
      padding: 12px;
      width: 200px;
      border-radius: 21px;
      background: green;
      color: #fff;
      text-align: center;
      border: none;
      margin-top: 20px;
      opacity: 1;
      transition: opacity .5s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
    .errorMessage{
      color:red;
    }
  }